<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Name</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <div id="container">
      <form action=""[formGroup]="registration">
        First Name: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
            First Name can not be empty
          </ng-container>
        </div>
      </form>
    </div>
    <div id="container">
      <form action=""[formGroup]="registration">
        Middle Name: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Field can not be empty (if not applicable, N/A)
          </ng-container>
        </div>
      </form>
    </div>
    <div id="container">
      <form action=""[formGroup]="registration">
        Last Name: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
            Last Name can not be empty
          </ng-container>
        </div>
      </form>
    </div>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Address</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <div id="container">
      <form action=""[formGroup]="registration">
        Region: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
            Region can not be empty
          </ng-container>
        </div>
      </form>
    </div>
    <form action=""[formGroup]="registration">
      Province: <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Province can not be empty
        </ng-container>
      </div>
    </form>
    <form action=""[formGroup]="registration">
      City: <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          City can not be empty
        </ng-container>
      </div>
    </form>
    <form action=""[formGroup]="registration">
      Barangay <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Barangay can not be empty
        </ng-container>
      </div>
    </form>
    <form action=""[formGroup]="registration">
      Postal Code: <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Postal Code can not be empty
        </ng-container>
      </div>
    </form>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Contact</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <form action=""[formGroup]="registration">
      Email: <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Email can not be empty
        </ng-container>
      </div>
    </form>
    <form action=""[formGroup]="registration">
      Phone Number: <input type="text" formControlName="name">
      <div>
        <ng-container *ngIf="registration.get('name').hasError('required') && (registration.get('name').touched || registration.get('name').dirty)">
          Phone Number can not be empty
        </ng-container>
      </div>
    </form>
  </ion-card-content>
  </ion-card>
    
    <ion-button color="success" size="full">Register</ion-button>
    <ion-button color="light" size="full" (click)="cancelMe()">Cancel</ion-button>
</ion-content>