<ion-header>
  <ion-toolbar>
    <ion-title>Registration Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-input></ion-input>
<ion-label>First Name</ion-label>
<ion-input placeholder="Enter First Name"></ion-input>

<ion-label>Middle Name</ion-label>
<ion-input placeholder="Enter Middle Name"></ion-input>

<ion-label>Last Name</ion-label>
<ion-input placeholder="Enter Last Name"></ion-input>
<br>

<ion-item>
  <ion-label>Address</ion-label>
  <ion-label position="stacked">City</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Province</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Street Number</ion-label>
  <ion-input></ion-input>
</ion-item>
<ion-item>
  <ion-label position="stacked">Zip Code</ion-label>
  <ion-input></ion-input>
</ion-item>
<br>

<ion-label>Age</ion-label>
<ion-input placeholder="Enter Age"></ion-input>

<ion-label>Birthday</ion-label>
<ion-input placeholder="Enter Birthday"></ion-input>
<br>

<ion-input>Enter your desired username and password</ion-input>
<ion-label>Username</ion-label>
<ion-input placeholder="Enter username"></ion-input>

<ion-label>Password</ion-label>
<ion-input placeholder="Enter password"></ion-input>

<br>
<ion-button>Submit</ion-button>
<br>
<ion-button color="medium" (click)="cancelMe()">Cancel</ion-button>
</ion-content>
