<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Name</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">First Name</ion-label>
      <ion-input placeholder="Enter First Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Middle Name</ion-label>
      <ion-input placeholder="Enter Middle Name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Last Name</ion-label>
      <ion-input placeholder="Enter Last Name"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Address</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Region</ion-label>
      <ion-input placeholder="Enter Region"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Province</ion-label>
      <ion-input placeholder="Enter Province"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">City</ion-label>
      <ion-input placeholder="Enter Region"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Barangay</ion-label>
      <ion-input placeholder="Enter Barangay"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Postal Code</ion-label>
      <ion-input placeholder="Enter Postal Code"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Contact</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Enter Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Phone Number</ion-label>
      <ion-input placeholder="Enter Phone Number"></ion-input>
    </ion-item>
  </ion-card-content>
  </ion-card>

  <ion-button color="success" size="full">Register</ion-button>
  <ion-button color="light" size="full" (click)="cancelMe()">Cancel</ion-button>
</ion-content>