<ion-header>
  <ion-toolbar>
    <ion-title>Log In Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Log In to your account</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    <div id="container">
      <form action=""[formGroup]="login">
        Email: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="login.get('name').hasError('required') && (login.get('name').touched || login.get('name').dirty)">
            Email can not be empty
          </ng-container>
        </div>
      </form>
    </div>
    <div id="container">
      <form action=""[formGroup]="login">
        Password: <input type="text" formControlName="name">
        <div>
          <ng-container *ngIf="login.get('name').hasError('required') && (login.get('name').touched || login.get('name').dirty)">
            Password can not be empty
          </ng-container>
        </div>
      </form>
    </div>
  </ion-card-content>
  </ion-card>

  <ion-button color="success" size="full">Register</ion-button>
  <ion-button color="light" size="full" (click)="cancelMe()">Cancel</ion-button>
</ion-content>



