<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
  
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Home Page</ion-title>
  </ion-toolbar>

  <ion-content>
    <ion-button color="success" size="full" (click)="logMeIn()">Log In</ion-button>
    <br>
    <ion-button color="light" size="full" (click)="regMeIn()">Register</ion-button>
  </ion-content>